<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title || 'Speak in Pictures' %></title>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- build:css /styles/global.css -->
  <link rel="stylesheet" href="/styles/global.css">
  <!-- endbuild -->

  <link rel="icon" type="image/png" href="/images/logo-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/images/logo-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/logo-64x64.png" sizes="64x64">
  <link rel="icon" type="image/png" href="/images/logo-128x128.png" sizes="128x128">
</head>
<body>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics<%= process.env.NODE_ENV !== 'production' ? '_debug' : '' %>.js','ga');

    ga('create', '<%= KoaConfig.analytics.trackingId %>', 'auto');

    if (location.hostname == 'localhost') {
      ga('set', 'sendHitTask', null);
    }

    ga('send', 'pageview');

  </script>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="./images/logo-35.png">
          Speak in Pictures
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse pull-right">
        <ul class="nav navbar-nav">
          <li><a href="/sign-in">Sign In</a></li>
          <!--<router-link active-class="active" tag="li" to="/about"><a>About</a></router-link>-->
          <!--<router-link active-class="active" tag="li" to="/contact"><a>Contact</a></router-link>-->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <%- body %>

  <footer class="bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Speak in Pictures 2017</p>
    </div>
  </footer>
</body>
</html>
