<%
title = 'Home page!';
%>

<section class="bg-primary" id="section-search">
  <div class="container text-center">
    <form action="/search" method="get" class="form-horizontal col-sm-8 col-sm-offset-2">
      <div class="form-group">
        <div class="input-group input-group-lg">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder='e.g. "to draw"'/>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="bg-gray clearfix">
  <div class="container col-lg-8 col-lg-offset-2 meaning-image-gallery">


    <img src="#" class="image" />
    <img src="#" class="image" />
    <img src="#" class="image" />
    <img src="#" class="image" />
    <img src="#" class="image" />
    <img src="#" class="image" />
    <img src="#" class="image" />
  </div>
</section>

<section class="bg-secondary clearfix">
  <div class="container col-lg-8 col-lg-offset-2">
    <h1 class="text-center">Not finding what you want?</h1>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <a href="#" class="btn btn-primary btn-block btn-lg">Upload Your Own!</a>
      </div>
    </div>
  </div>
</section>
