<%
title = 'Home page!';
%>


<section class="clearfix">
  <div class="container col-lg-8 col-lg-offset-2">
    <h1>
      <span class="heading-label">Meaning</span>
      Good Morning
    </h1>

    <div class="row">
      <div class="col-sm-6">
        <p>Common greeting used in the early morning time.</p>
      </div>
      <div class="col-sm-6">
        <div class="padding-base-vr">
          <a href="#" class="label label-default">greeting</a>
          <a href="#" class="label label-default">general</a>
          <a href="#" class="label label-default">more-tags</a>
          <a href="#" class="label label-default">phrases-and-sayings</a>
        </div>
        <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Add Tag</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray clearfix">
  <div class="container col-lg-8 col-lg-offset-2 meaning-image-gallery">


    <img src="#" class="image" />
    <img src="#" class="image" />
    <img src="#" class="image" />
    <img src="#" class="image" />
    <img src="#" class="image" />
    <img src="#" class="image" />
    <img src="#" class="image" />
    <a href="#" class="add-image">
      <i class="fa fa-plus fa-2x"></i>
    </a>
  </div>
</section>

<section class="bg-accent clearfix">
  <div class="container col-lg-8 col-lg-offset-2">
    <h1 class="text-center">Have something better?</h1>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <a href="#" class="btn btn-primary btn-block btn-lg">Upload Your Own!</a>
      </div>
    </div>
  </div>
</section>
