.navbar {
  margin-bottom: 0;

  &.navbar-default {
    background-color: $color-primary-3;
    border-color: $color-primary-4;
    border-radius: 0;

    .navbar-brand {
      font-family: 'Amatic SC', AmaticFallback, $font-family-base;
      font-size: $font-size-h3;
      line-height: $font-size-h3;
      color: $color-accent-2;
      padding: 10px $navbar-padding-horizontal;
      &:hover {
        color: $color-accent-1
      }

      & > img {
        display: inline;
      }
    }

    .navbar-nav > li > a {
      color: $gray-light;
      &:focus, &:hover {
        color: $gray-lighter;
      }
    }

  }
}
